body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #c6c6c1;
    font-family: "Consolas", "Courier New", monospace;
}

/* Header */
.header{
    background-color: #0046FF;
    color: #EEEEEE;
    padding: 10px;
    margin-bottom: 10px;
}

/* Title */
.hidden {
    display: none;
}
#qr-title{
font-size: 50px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.btn-design{
    background-color: #DDDAD0;
    color: #000;
    margin: 5px;
    height: 30px;
    font-size: 15px;
}

.main-body{
    background-color: #fff;
    margin-top: 10px;
    min-height: 70vh;
}

.gen-qr{
    margin: 10px;
}

/* Input Fields */
#input-fields{
    margin-top: 40px;
    border: 1px solid #000;
    background: #fff;
    padding: 3px;
    height: 20px;
    width: 550px;
    font-family: inherit;
}
.body-two{
    display: flex;
    flex-direction: row;
}
@media (min-width: 640px) {

#result{
    margin-top: 10px;
    border: 5px solid #c6c6c1;
    display:inline-flex;
}
}
